@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,700;1,6..72,400;1,6..72,700&display=swap');

:root {
    --c-accent1: #facc15;
    --c-accent2: #1992d4;
    --c-bg1: lightgray;
    --c-bg2: gray;
    --c-read: rgb(175, 194, 176);
    --c-not-read: rgb(194, 175, 175);
    --c-light: white;
    --c-shadow: rgba(0, 0, 0, 0.5);
    --c-valid: rgb(175, 194, 176);
    --c-invalid: rgb(194, 175, 175);

    --standard-gap: 15px;

    font-family: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* disable selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Old version of Firefox */
    -ms-user-select: none; /* Internet Explorer or Edge */
    user-select: none; /* All modern browsers */
}

body {
    background-color: var(--c-bg1);
    padding: 60px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--standard-gap);

}

.book-card,
.card {
    background-color: var(--c-light);
    padding: var(--standard-gap);
    border-radius: var(--standard-gap);
    box-shadow: 3px 3px 3px var(--c-shadow);
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.book-card {
    background-color: var(--c-not-read);
}
.book-card>h2 {
    grid-column: 1 / -1;
}
.book-card>.page-count {
    text-align: right;
}
.read {
    background-color: var(--c-read);
}


/* UI */
button {
    padding: 10px 25px;
    border-radius: 15px;
    outline: none;
    border: none;
    margin-bottom: var(--standard-gap)
}
.card-button:hover,
button:hover {
    background-color: var(--c-accent2);
}
.card-button:active,
button:active {
    background-color: var(--c-accent1);
}
/* button::before {
    position: relative;
    content: url("svg/add_FILL0_wght400_GRAD0_opsz24.svg");
    right: 10px;
    top: 0px;
} */

.card-button {
    margin-top: var(--standard-gap);
    margin-right: var(--standard-gap);
    border-radius: 15px;
}

input {
    background-color: var(--c-bg1);
    padding: var(--standard-gap);
    outline: none;
    border: none;
}
input:valid {
    background-color: var(--c-valid);
}
input:invalid {
    background-color: var(--c-invalid);
}


/* MODAL */
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--standard-gap);
}
.modal>label {
    justify-self: end;
    align-self: center;
}
.modal>button,
.modal>div {
    grid-column: 1 / -1;
    justify-self: center;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
.fade {
    top: 0;
    left: 0;
    visibility: hidden;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.8);
    width: 100vw;
    height: 100vh;
  }
